.container{
  height: 0;
  overflow: hidden;
  position: relative;
  padding-top: 55.25%;
  background-color: transparent;
}

*{
  box-sizing: border-box;
}
.active_button:active{
  width:12% !important;
}
.absolute{
  position: absolute;
  left:0;
  top:0;
}
.vertical_center{
  width:24%;
  top:45.4%;
}
.full_center{
  height: 0;
  overflow: hidden;
  position: relative;
  padding-top: 55.25%;
  background-color:#fff;
  width:100%;
  height:100%;
  overflow: hidden;
}
.hover_scale{
  transition:transform .2s;
}
.scale{
  transition:all .7s;
}
.hover_scale:hover{
  transform:scale(1.3);
}
.full_center img{
  width:30%;
  top:30%;
}
.full-width{
  width:100%;
}

.pointer{
  cursor: pointer;
}
.row{
  width:100%;
}
.row .img_left{
  left:7%;
  width:40%;
}
.row .img_right{
  right:8%;
  width:40%;
  left:initial;
}
.col-md-2{
  width: calc(100% / 2);
  margin:10px;
  text-align: center;
}
.center{
  text-align: center;
  margin: auto;
  display:block;
  position:absolute;
  margin: auto;
  left:0;
  right:0;
}
.bottom-right{
  left:initial;
  bottom:5%;
  right:5%;
}
